#Server
NODE_ENV=development
PORT=3001

#MSSQL Server
DB_HOST="DB_HOST"
DB_PORT=1433
DB_NAME="DB_NAME"
DB_USER="DB_USER"
DB_PASSWORD="DB_PASSWORD"

#AI (Gemini) — NEVER expose in the extension
GEMINI_API_KEY= YOUR_API_KEY
url=curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent" \
  -H 'Content-Type: application/json' \
  -H 'X-goog-api-key: $GEMINI_API_KEY' \
  -X POST \
  -d '{
    "contents": [
      {
        "parts": [
          {
            "text": "Explain how AI works in a few words"
          }
        ]
      }
    ]
  }'


#CORS
CORS_ORIGIN=chrome-extension://YOUR_EXTENSION_ID

# File uploads
UPLOAD_MAX_FILE_SIZE_MB=5
UPLOAD_DIR=uploads
